In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler, LabelEncoder, OrdinalEncoder
import csv

In [ ]:
test_cases_data = pd.read_csv("cases_2021_test_processed_unlabelled_2.csv")
test_cases_data

,age,sex,province,country,latitude,longitude,date_confirmation,chronic_disease_binary,Confirmed,Deaths,Recovered,Active,Incident_Rate,Case_Fatality_Ratio
0,59,female,NaN,Philippines,14.595800,120.97720,2020-03-31,False,747288,13297,603746,130245,681.949809,1.779368
1,79,male,Tamil Nadu,India,11.139270,79.08428,2020-05-24,False,886673,12719,858075,15879,1139.078325,1.434463
2,44,female,Tamil Nadu,India,13.083620,80.28252,2020-05-19,False,886673,12719,858075,15879,1139.078325,1.434463
3,36,male,Tamil Nadu,India,13.124620,79.91815,2020-04-30,False,886673,12719,858075,15879,1139.078325,1.434463
4,52,male,Bihar,India,25.312580,86.48888,2020-04-24,False,265527,1576,262371,1580,212.762145,0.593537
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4299,66,male,Karnataka,India,13.000000,77.58333,2020-04-09,False,997004,12567,956170,28267,1475.672533,1.260476
4300,66,male,NaN,Philippines,14.595800,120.97720,2020-03-31,False,747288,13297,603746,130245,681.949809,1.779368
4301,53,female,Tamil Nadu,India,12.682240,79.98008,2020-05-12,False,886673,12719,858075,15879,1139.078325,1.434463
4302,25,male,Tamil Nadu,India,13.160185,80.29769,2020-05-27,False,886673,12719,858075,15879,1139.078325,1.434463
4303,34,male,Karnataka,India,13.335010,74.74936,2020-05-27,False,997004,12567,956170,28267,1475.672533,1.260476

In [ ]:
train_cases_data = pd.read_csv("cases_2021_train_processed_2.csv")
train_cases_data

,age,sex,province,country,latitude,longitude,date_confirmation,chronic_disease_binary,Confirmed,Deaths,Recovered,Active,Incident_Rate,Case_Fatality_Ratio,outcome_group
0,18,female,Bihar,India,25.49096,85.93903,2020-05-18,False,265527,1576,262371,1580,212.762145,0.593537,hospitalized
1,27,female,NaN,Philippines,7.07000,125.60000,2020-04-15,False,747288,13297,603746,130245,681.949809,1.779368,nonhospitalized
2,46,male,Tamil Nadu,India,13.08362,80.28252,2020-05-02,False,886673,12719,858075,15879,1139.078325,1.434463,hospitalized
3,21,female,Tamil Nadu,India,13.08362,80.28252,2020-05-24,False,886673,12719,858075,15879,1139.078325,1.434463,hospitalized
4,27,male,Bihar,India,26.28361,87.20347,2020-05-27,False,265527,1576,262371,1580,212.762145,0.593537,hospitalized
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17207,29,female,Tamil Nadu,India,13.08362,80.28252,2020-04-24,False,886673,12719,858075,15879,1139.078325,1.434463,hospitalized
17208,47,female,NaN,Philippines,16.68814,121.54992,2020-04-09,False,747288,13297,603746,130245,681.949809,1.779368,nonhospitalized
17209,30,male,Bihar,India,24.94452,86.26404,2020-05-26,False,265527,1576,262371,1580,212.762145,0.593537,hospitalized
17210,59,male,Tamil Nadu,India,12.68224,79.98008,2020-05-31,False,886673,12719,858075,15879,1139.078325,1.434463,hospitalized
17211,28,male,NaN,Philippines,14.58000,121.03000,2020-05-11,False,747288,13297,603746,130245,681.949809,1.779368,deceased

In [ ]:
# 1.1 Feature Selection

# Dropping Columms longitude, latitude, and date_confirmation
# Filling missing values with "No province" in the province column

# For train dataset
train_cases_data.province = train_cases_data.province.fillna('No Province')
train_cases_data = train_cases_data.drop(['latitude','longitude','date_confirmation'],axis=1) #Later inpace =True

# For test dataset
test_cases_data.province = test_cases_data.province.fillna('No Province')
test_cases_data = test_cases_data.drop(['latitude','longitude','date_confirmation'],axis=1) #Later inpace =True

In [ ]:
# 1.2 Mapping the Features
data_enc = LabelEncoder() 
data_enc1 = MinMaxScaler()
train_cases_data.columns

#For train dataset

# Using LabelEncoder on Categorical Features
train_cases_data['sex']=data_enc.fit_transform(train_cases_data['sex'])
train_cases_data['province']=data_enc.fit_transform(train_cases_data['province'])
train_cases_data['country']=data_enc.fit_transform(train_cases_data['country'])
train_cases_data['chronic_disease_binary']=data_enc.fit_transform(train_cases_data['chronic_disease_binary'])
train_cases_data['outcome_group']=data_enc.fit_transform(train_cases_data['outcome_group'])

# Using MinMaxScaler for Numerical Features
data_enc1.fit(train_cases_data[['Confirmed', 'Deaths', 'Recovered', 'Active', 'Incident_Rate', 'Case_Fatality_Ratio']])
train_cases_data[['Confirmed', 'Deaths', 'Recovered', 'Active', 'Incident_Rate', 'Case_Fatality_Ratio']] = data_enc1.transform(train_cases_data[['Confirmed', 'Deaths', 'Recovered', 'Active', 'Incident_Rate', 'Case_Fatality_Ratio']])


# For test dataset 

# Using LabelEncoder on Categorical Features
test_cases_data['sex']=data_enc.fit_transform(test_cases_data['sex'])
test_cases_data['province']=data_enc.fit_transform(test_cases_data['province'])
test_cases_data['country']=data_enc.fit_transform(test_cases_data['country'])
test_cases_data['chronic_disease_binary']=data_enc.fit_transform(test_cases_data['chronic_disease_binary'])

# Using MinMaxScaler for Numerical Features
data_enc1.fit(test_cases_data[['Confirmed', 'Deaths', 'Recovered', 'Active', 'Incident_Rate', 'Case_Fatality_Ratio']])
test_cases_data[['Confirmed', 'Deaths', 'Recovered', 'Active', 'Incident_Rate', 'Case_Fatality_Ratio']] = data_enc1.transform(test_cases_data[['Confirmed', 'Deaths', 'Recovered', 'Active', 'Incident_Rate', 'Case_Fatality_Ratio']])

# if using OrdinalEncoder
#train_cases_data[['sex', 'province', 'country','chronic_disease_binary','outcome_group']] = data_enc.transform(train_cases_data[['sex', 'province', 'country','chronic_disease_binary', 'outcome_group']])

In [ ]:
train_cases_data

,age,sex,province,country,chronic_disease_binary,Confirmed,Deaths,Recovered,Active,Incident_Rate,Case_Fatality_Ratio,outcome_group
0,18,0,3,21,0,0.057541,0.016570,0.109220,0.000371,0.015205,0.082768,1
1,27,0,27,27,0,0.162018,0.139883,0.251428,0.030632,0.048857,0.263237,2
2,46,1,37,21,0,0.192245,0.133802,0.357374,0.003734,0.081644,0.210747,1
3,21,0,37,21,0,0.192245,0.133802,0.357374,0.003734,0.081644,0.210747,1
4,27,1,3,21,0,0.057541,0.016570,0.109220,0.000371,0.015205,0.082768,1
...,...,...,...,...,...,...,...,...,...,...,...,...
17207,29,0,37,21,0,0.192245,0.133802,0.357374,0.003734,0.081644,0.210747,1
17208,47,0,27,27,0,0.162018,0.139883,0.251428,0.030632,0.048857,0.263237,2
17209,30,1,3,21,0,0.057541,0.016570,0.109220,0.000371,0.015205,0.082768,1
17210,59,1,37,21,0,0.192245,0.133802,0.357374,0.003734,0.081644,0.210747,1
17211,28,1,27,27,0,0.162018,0.139883,0.251428,0.030632,0.048857,0.263237,0

In [ ]:
test_cases_data

,age,sex,province,country,chronic_disease_binary,Confirmed,Deaths,Recovered,Active,Incident_Rate,Case_Fatality_Ratio
0,59,0,21,16,0,0.162018,0.139874,0.251427,0.030632,0.090495,0.423973
1,79,1,29,11,0,0.192245,0.133793,0.357373,0.003733,0.151203,0.339431
2,44,0,29,11,0,0.192245,0.133793,0.357373,0.003733,0.151203,0.339431
3,36,1,29,11,0,0.192245,0.133793,0.357373,0.003733,0.151203,0.339431
4,52,1,3,11,0,0.057541,0.016560,0.109219,0.000370,0.028186,0.133307
...,...,...,...,...,...,...,...,...,...,...,...
4299,66,1,16,11,0,0.216172,0.132194,0.398237,0.006647,0.195904,0.296784
4300,66,1,21,16,0,0.162018,0.139874,0.251427,0.030632,0.090495,0.423973
4301,53,0,29,11,0,0.192245,0.133793,0.357373,0.003733,0.151203,0.339431
4302,25,1,29,11,0,0.192245,0.133793,0.357373,0.003733,0.151203,0.339431
4303,34,1,16,11,0,0.216172,0.132194,0.398237,0.006647,0.195904,0.296784

In [ ]:
# 1.3 Balancing the classes in the training dataset
#Used SMOTE Sampling and then compared results using two models to see if the accuracy increases or not (Classification Report, RFC, KNN, XGB)

print("Before balncing classes:",train_cases_data.groupby('outcome_group').size())

Before balncing classes: outcome_group
0      997
1    13241
2     2974
dtype: int64

In [ ]:
y = train_cases_data.drop(['age', 'sex', 'province', 'country', 'chronic_disease_binary',
      'Confirmed', 'Deaths', 'Recovered', 'Active', 'Incident_Rate',
       'Case_Fatality_Ratio'], axis=1)

X = train_cases_data[['age', 'sex', 'province', 'country', 'chronic_disease_binary',
     'Confirmed', 'Deaths', 'Recovered', 'Active', 'Incident_Rate',
      'Case_Fatality_Ratio']]

In [ ]:
X

,age,sex,province,country,chronic_disease_binary,Confirmed,Deaths,Recovered,Active,Incident_Rate,Case_Fatality_Ratio
0,18,0,3,21,0,0.057541,0.016570,0.109220,0.000371,0.015205,0.082768
1,27,0,27,27,0,0.162018,0.139883,0.251428,0.030632,0.048857,0.263237
2,46,1,37,21,0,0.192245,0.133802,0.357374,0.003734,0.081644,0.210747
3,21,0,37,21,0,0.192245,0.133802,0.357374,0.003734,0.081644,0.210747
4,27,1,3,21,0,0.057541,0.016570,0.109220,0.000371,0.015205,0.082768
...,...,...,...,...,...,...,...,...,...,...,...
17207,29,0,37,21,0,0.192245,0.133802,0.357374,0.003734,0.081644,0.210747
17208,47,0,27,27,0,0.162018,0.139883,0.251428,0.030632,0.048857,0.263237
17209,30,1,3,21,0,0.057541,0.016570,0.109220,0.000371,0.015205,0.082768
17210,59,1,37,21,0,0.192245,0.133802,0.357374,0.003734,0.081644,0.210747
17211,28,1,27,27,0,0.162018,0.139883,0.251428,0.030632,0.048857,0.263237

In [ ]:
y

       outcome_group
0                  1
1                  2
2                  1
3                  1
4                  1
...              ...
17207              1
17208              2
17209              1
17210              1
17211              0

[17212 rows x 1 columns]

In [ ]:
from sklearn.preprocessing import scale
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(
        X, y, train_size=0.8,test_size=0.2, random_state=100, shuffle=True)

In [ ]:
from sklearn.ensemble import RandomForestClassifier as RFC
from sklearn.metrics import accuracy_score
rf = RFC()
rf.fit(X_train,y_train.values.ravel())
y_pred = rf.predict(X_val)
print('Test accuracy score:',rf.score(X_val,y_val))
print('Train accuracy score:',rf.score(X_train,y_train))
print('Accuracy score:',accuracy_score(y_val,y_pred))

Test accuracy score: 0.9401684577403427
Train accuracy score: 0.9540271624664101
Accuracy score: 0.9401684577403427

In [ ]:
from sklearn.metrics import classification_report
print("classification report before balancing the data with RandomForestClassifier:" , "\n")
print(classification_report(y_val,y_pred))

classification report before balancing the data with RandomForestClassifier:

              precision    recall  f1-score   support

           0       0.55      0.33      0.41       196
           1       0.98      0.99      0.98      2619
           2       0.87      0.92      0.89       628

    accuracy                           0.94      3443
   macro avg       0.80      0.75      0.76      3443
weighted avg       0.93      0.94      0.93      3443

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(X_train,y_train.values.ravel())
y_pred = knn.predict(X_val)
print('Test score:',knn.score(X_val,y_val))
print('Train score:',knn.score(X_train,y_train))
print('Accuracy score:',accuracy_score(y_val,y_pred))

Test score: 0.939297124600639
Train score: 0.9410995715011984
Accuracy score: 0.939297124600639

In [ ]:
from sklearn.metrics import classification_report
print("classification report before balancing the data with kNeighborsClassifier:" , "\n")
print(classification_report(y_val,y_pred))

classification report before balancing the data with kNeighborsClassifier:

              precision    recall  f1-score   support

           0       0.55      0.36      0.44       196
           1       0.97      0.99      0.98      2619
           2       0.88      0.89      0.88       628

    accuracy                           0.94      3443
   macro avg       0.80      0.75      0.77      3443
weighted avg       0.93      0.94      0.93      3443

In [ ]:
from xgboost import XGBClassifier
xgb = XGBClassifier(max_depth = 4, gamma =0.1)
xgb.fit(X_train, y_train.values.ravel())
y_pred = xgb.predict(X_val)
print('Test score:',xgb.score(X_val, y_val))
print('Train score:',xgb.score(X_train, y_train))
print('Accuracy score:',accuracy_score(y_val,y_pred))

Test score: 0.9430729015393552
Train score: 0.9452393056866875
Accuracy score: 0.9430729015393552

In [ ]:
print("classification report before balancing the data with XGBClassifier :" , "\n")
print(classification_report(y_val,y_pred))

classification report before balancing the data with XGBClassifier :

              precision    recall  f1-score   support

           0       0.59      0.30      0.39       196
           1       0.97      1.00      0.98      2619
           2       0.87      0.93      0.90       628

    accuracy                           0.94      3443
   macro avg       0.81      0.74      0.76      3443
weighted avg       0.93      0.94      0.94      3443

In [ ]:
from imblearn.over_sampling import SMOTE
sm = SMOTE(random_state=42)
X_bal, y_bal = sm.fit_resample(X, y)

In [ ]:

print(y_bal['outcome_group'].value_counts())

1    13241
2    13241
0    13241
Name: outcome_group, dtype: int64

In [ ]:
X_train, X_val, y_train, y_val = train_test_split(
        X_bal, y_bal, train_size=0.8,test_size=0.2, random_state=100, shuffle=True)

In [ ]:
rf = RFC()
rf.fit(X_train,y_train.values.ravel())
#y_pred = rf.predict(X_train)
y_pred = rf.predict(X_val)
print('Test score:',rf.score(X_val,y_val))
print('Train score:',rf.score(X_train,y_train))
print('Accuracy score:',accuracy_score(y_val,y_pred))

Test score: 0.8249213341724355
Train score: 0.838095537793442
Accuracy score: 0.8249213341724355

In [ ]:
print(classification_report(y_val,y_pred))

              precision    recall  f1-score   support

           0       0.74      0.75      0.74      2589
           1       0.91      0.95      0.93      2713
           2       0.81      0.77      0.79      2643

    accuracy                           0.82      7945
   macro avg       0.82      0.82      0.82      7945
weighted avg       0.82      0.82      0.82      7945

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(X_train,y_train.values.ravel())
y_pred = knn.predict(X_val)
print('Test score:',knn.score(X_val,y_val))
print('Train score:',knn.score(X_train,y_train))
print('Accuracy score:',accuracy_score(y_val,y_pred))

Test score: 0.7983637507866582
Train score: 0.812291522436906
Accuracy score: 0.7983637507866582

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_val,y_pred))

              precision    recall  f1-score   support

           0       0.70      0.74      0.72      2589
           1       0.89      0.94      0.92      2713
           2       0.80      0.71      0.75      2643

    accuracy                           0.80      7945
   macro avg       0.80      0.80      0.80      7945
weighted avg       0.80      0.80      0.80      7945

In [ ]:
from xgboost import XGBClassifier
xgb = XGBClassifier(max_depth = 4, gamma = 0.1)
xgb.fit(X_train, y_train.values.ravel())
y_pred = xgb.predict(X_val)
print('Test score:',xgb.score(X_val, y_val))
print('Train score:',xgb.score(X_train, y_train))
print('Accuracy score:',accuracy_score(y_val,y_pred))

Test score: 0.8100692259282568
Train score: 0.8183649065391151
Accuracy score: 0.8100692259282568

In [ ]:
print(classification_report(y_val,y_pred))

              precision    recall  f1-score   support

           0       0.73      0.71      0.72      2589
           1       0.88      0.97      0.92      2713
           2       0.81      0.75      0.78      2643

    accuracy                           0.81      7945
   macro avg       0.81      0.81      0.81      7945
weighted avg       0.81      0.81      0.81      7945

In [ ]:

#1.4 Hyperparamter Tuning Using RandomizedSearchCV and GridSearchCV

from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import f1_score, make_scorer 

n_estimators = [int(x) for x in np.linspace(start = 200, stop = 2000, num = 10)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt','log2']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10,1000,10)]
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10,14]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4,6,8]
# Create the random grid

rf_param = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
              'criterion':['entropy','gini']
            }

rf_scoring = {'accuracy': make_scorer(accuracy_score),
              'macro_f1':make_scorer(f1_score, average='macro'), 
              'f1_deceased':make_scorer(f1_score,labels=[0],average='macro'),
              'f1_hospitalized': make_scorer(f1_score,labels=[1],average='macro'),
              'f1_nonhospitalized': make_scorer(f1_score,labels=[2],average='macro'),
              }
              
print(rf_param)

{'n_estimators': [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000], 'max_features': ['auto', 'sqrt', 'log2'], 'max_depth': [10, 120, 230, 340, 450, 560, 670, 780, 890, 1000], 'min_samples_split': [2, 5, 10, 14], 'min_samples_leaf': [1, 2, 4, 6, 8], 'criterion': ['entropy', 'gini']}

In [ ]:
rf_randomcv = RandomizedSearchCV(estimator=rf , param_distributions=rf_param, n_iter=20, cv=5, verbose=2,
                               random_state=100, n_jobs=-1, scoring = rf_scoring, refit='accuracy')
# fit to randomized rf
rf_randomcv.fit(X_bal,y_bal.values.ravel())

In [ ]:
# Printing the best hyperparameter combination for the model
print(rf_randomcv.best_params_ ,"\n")

# to make new classifier with the best estimator
best_rf_param = rf_randomcv.best_estimator_
#print(best_rf_param)
print(rf_randomcv.best_score_)

In [ ]:
rf_randomcv.cv_results_

In [ ]:
rf_randomcv.cv_results_['mean_test_macro_f1'][rf_randomcv.best_index_]

In [ ]:
rf_randomcv.cv_results_['mean_test_f1_deceased'][rf_randomcv.best_index_]

In [ ]:
print("Macro F1 Score: ", rf_randomcv.cv_results_['mean_test_f1'][rf_randomcv.best_index_])
print("F1 Score Deceased: ", rf_randomcv.cv_results_['mean_test_f1_deceased'][rf_randomcv.best_index_])
print("F1 Score Hospitalized: ", rf_randomcv.cv_results_['mean_test_f1_hospitalized'][rf_randomcv.best_index_])
print("F1 Score Non-Hospitalized: ", rf_randomcv.cv_results_['mean_test_f1_nonhospitalized'][rf_randomcv.best_index_])

In [ ]:
Rf_mean_test_f1 = rf_randomcv.cv_results_['mean_test_f1']
Rf_mean_test_f1_deceased = rf_randomcv.cv_results_['mean_test_f1_deceased']
Rf_mean_test_accuracy = rf_randomcv.cv_results_['mean_test_accuracy']
Rf_parameters = rf_randomcv.cv_results_['params']
Rf_ht_data = {"Hyperparameters": Rf_parameters, "Mean F1 Score": Rf_mean_test_f1, "Mean F1 Score on 'deceased'": Rf_mean_test_f1_deceased, "Mean Accuracy": Rf_mean_test_accuracy}
Rf_ht_data_df = pd.DataFrame(Rf_ht_data)
Rf_ht_data_df.to_csv(r'model1_tuning.txt',header=Rf_ht_data_df.columns, index=None, sep=',')

In [ ]:
#CROSS-VAlDATION ON XGBoostClassifier 

from sklearn.model_selection import GridSearchCV

xgb_param = {'learning_rate' : [0.001, 0.01, 0.1],
    'n_estimators' : [100,200,300], 
    'max_features':[3,6,9],
}

xgb_scoring = {'accuracy': make_scorer(accuracy_score),
              'macro_f1':make_scorer(f1_score, average='macro'), 
              'f1_deceased':make_scorer(f1_score,labels=[0],average='macro'),
              'f1_hospitalized': make_scorer(f1_score,labels=[1],average='macro'),
              'f1_nonhospitalized': make_scorer(f1_score,labels=[2],average='macro'),
              }

In [ ]:
xgb_gridcv = GridSearchCV(estimator = xgb, 
                          param_grid= xgb_param, cv=5, 
                          refit= 'accuracy', 
                          return_train_score = True, 
                          scoring = xgb_scoring, 
                          verbose = 2,
                          n_jobs = -1,
                          )

xgb_gridcv.fit(X_bal, y_bal.values.ravel())
print(xgb_gridcv.best_params_ ,"\n")
print(xgb_gridcv.best_score_)

In [ ]:

# xgb_gridcv.cv_results_

In [ ]:
print(xgb_gridcv.cv_results_['mean_test_macro_f1'][xgb_gridcv.best_index_])
print(xgb_gridcv.cv_results_['mean_test_f1_deceased'][xgb_gridcv.best_index_])

In [ ]:
print("Macro F1 Score: ", xgb_gridcv.cv_results_['mean_test_macro_f1'][xgb_gridcv.best_index_])
print("F1 Score Deceased: ", xgb_gridcv.cv_results_['mean_test_f1_deceased'][xgb_gridcv.best_index_])
print("F1 Score Hospitalized: ", xgb_gridcv.cv_results_['mean_test_f1_hospitalized'][xgb_gridcv.best_index_])
print("F1 Score Non-Hospitalized: ", xgb_gridcv.cv_results_['mean_test_f1_nonhospitalized'][xgb_gridcv.best_index_])

In [ ]:
Xgb_mean_test_f1 = xgb_gridcv.cv_results_['mean_test_macro_f1']
Xgb_mean_test_f1_deceased = xgb_gridcv.cv_results_['mean_test_f1_deceased']
Xgb_mean_test_accuracy = xgb_gridcv.cv_results_['mean_test_accuracy']
Xgb_parameters = xgb_gridcv.cv_results_['params']
Xgb_ht_data = {"Hyperparameters": Xgb_parameters, "Mean F1 Score": Xgb_mean_test_f1, "Mean F1 Score on 'deceased'": Xgb_mean_test_f1_deceased, "Mean Accuracy": Xgb_mean_test_accuracy}
Xgb_ht_data_df = pd.DataFrame(Xgb_ht_data)
Xgb_ht_data_df.to_csv(r'model2_tuning.txt',header=Xgb_ht_data_df.columns, index=None, sep=',')

In [ ]:
#CROSS VAlDATION ON KNN 

from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score, make_scorer 

knn_param = { 'n_neighbors' : [5,7,9,11],
               'weights' : ['uniform','distance'],
               'metric' : ['minkowski','euclidean','manhattan']}

knn_scoring = {'accuracy': make_scorer(accuracy_score),
              'macro_f1':make_scorer(f1_score, average='macro'), 
              'f1_deceased':make_scorer(f1_score,labels=[0],average='macro'),
              'f1_hospitalized': make_scorer(f1_score,labels=[1],average='macro'),
              'f1_nonhospitalized': make_scorer(f1_score,labels=[2],average='macro'),
              }

knn_randomcv = RandomizedSearchCV(knn, knn_param, verbose = 1, cv=5, n_jobs = -1, scoring = knn_scoring, refit = 'accuracy', n_iter =20)

knn_randomcv.fit(X_bal, y_bal.values.ravel())

Fitting 5 folds for each of 20 candidates, totalling 100 fits

RandomizedSearchCV(cv=5, estimator=KNeighborsClassifier(), n_iter=20, n_jobs=-1,
                   param_distributions={'metric': ['minkowski', 'euclidean',
                                                   'manhattan'],
                                        'n_neighbors': [5, 7, 9, 11],
                                        'weights': ['uniform', 'distance']},
                   refit='accuracy',
                   scoring={'accuracy': make_scorer(accuracy_score),
                            'f1_deceased': make_scorer(f1_score, labels=[0], average=macro),
                            'f1_hospitalized': make_scorer(f1_score, labels=[1], average=macro),
                            'f1_nonhospitalized': make_scorer(f1_score, labels=[2], average=macro),
                            'macro_f1': make_scorer(f1_score, average=macro)},
                   verbose=1)

In [ ]:
print(knn_randomcv.best_params_ ,"\n")
print(knn_randomcv.best_score_)

{'weights': 'distance', 'n_neighbors': 5, 'metric': 'manhattan'}

0.7770815057193939

In [ ]:
knn_randomcv.cv_results_

{'mean_fit_time': array([0.09657793, 0.08622284, 0.08592663, 0.08594513, 0.08768377,
        0.09024377, 0.08556991, 0.09053397, 0.09124184, 0.08594193,
        0.08456068, 0.08557944, 0.08586817, 0.08670158, 0.08840294,
        0.08665819, 0.08920026, 0.08510165, 0.08495951, 0.08456974]),
 'std_fit_time': array([0.00944579, 0.00227608, 0.00099858, 0.00255098, 0.00506702,
        0.0098059 , 0.00214381, 0.00560344, 0.00680725, 0.00176535,
        0.00099486, 0.00055883, 0.00162122, 0.00133752, 0.00276752,
        0.00114361, 0.00840055, 0.00249686, 0.00174186, 0.00179347]),
 'mean_score_time': array([0.75040159, 0.40609298, 0.39412518, 0.38332558, 0.39948554,
        0.42089496, 0.66935949, 0.3774991 , 0.38086352, 0.69686241,
        0.64669085, 0.39064002, 0.6830389 , 0.3887816 , 0.40653968,
        0.69285131, 0.66099558, 0.38571477, 0.65616121, 0.66040993]),
 'std_score_time': array([0.05216837, 0.00561732, 0.01237258, 0.01147015, 0.00930813,
        0.01253034, 0.0107032 , 0.0134201 , 0.01225789, 0.00989638,
        0.00970576, 0.00593504, 0.0283123 , 0.00890697, 0.01293763,
        0.07014818, 0.01529574, 0.00911885, 0.00844659, 0.03316195]),
 'param_weights': masked_array(data=['uniform', 'distance', 'distance', 'distance',
                    'distance', 'distance', 'uniform', 'distance',
                    'distance', 'uniform', 'uniform', 'distance',
                    'uniform', 'distance', 'distance', 'uniform',
                    'uniform', 'distance', 'uniform', 'uniform'],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_n_neighbors': masked_array(data=[9, 11, 9, 7, 11, 11, 11, 5, 5, 11, 7, 9, 5, 7, 7, 9, 5,
                    5, 5, 11],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_metric': masked_array(data=['minkowski', 'euclidean', 'minkowski', 'minkowski',
                    'minkowski', 'manhattan', 'euclidean', 'minkowski',
                    'euclidean', 'manhattan', 'minkowski', 'euclidean',
                    'minkowski', 'euclidean', 'manhattan', 'euclidean',
                    'manhattan', 'manhattan', 'euclidean', 'minkowski'],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'weights': 'uniform', 'n_neighbors': 9, 'metric': 'minkowski'},
  {'weights': 'distance', 'n_neighbors': 11, 'metric': 'euclidean'},
  {'weights': 'distance', 'n_neighbors': 9, 'metric': 'minkowski'},
  {'weights': 'distance', 'n_neighbors': 7, 'metric': 'minkowski'},
  {'weights': 'distance', 'n_neighbors': 11, 'metric': 'minkowski'},
  {'weights': 'distance', 'n_neighbors': 11, 'metric': 'manhattan'},
  {'weights': 'uniform', 'n_neighbors': 11, 'metric': 'euclidean'},
  {'weights': 'distance', 'n_neighbors': 5, 'metric': 'minkowski'},
  {'weights': 'distance', 'n_neighbors': 5, 'metric': 'euclidean'},
  {'weights': 'uniform', 'n_neighbors': 11, 'metric': 'manhattan'},
  {'weights': 'uniform', 'n_neighbors': 7, 'metric': 'minkowski'},
  {'weights': 'distance', 'n_neighbors': 9, 'metric': 'euclidean'},
  {'weights': 'uniform', 'n_neighbors': 5, 'metric': 'minkowski'},
  {'weights': 'distance', 'n_neighbors': 7, 'metric': 'euclidean'},
  {'weights': 'distance', 'n_neighbors': 7, 'metric': 'manhattan'},
  {'weights': 'uniform', 'n_neighbors': 9, 'metric': 'euclidean'},
  {'weights': 'uniform', 'n_neighbors': 5, 'metric': 'manhattan'},
  {'weights': 'distance', 'n_neighbors': 5, 'metric': 'manhattan'},
  {'weights': 'uniform', 'n_neighbors': 5, 'metric': 'euclidean'},
  {'weights': 'uniform', 'n_neighbors': 11, 'metric': 'minkowski'}],
 'split0_test_accuracy': array([0.72611705, 0.72989301, 0.72750157, 0.7466331 , 0.72989301,
        0.73077407, 0.72687225, 0.75468848, 0.75468848, 0.72901196,
        0.74550031, 0.72750157, 0.75330396, 0.7466331 , 0.7470107 ,
        0.72611705, 0.75431089, 0.75506608, 0.75330396, 0.72687225]),
 'split1_test_accuracy': array([0.77004405, 0.77923222, 0.77356828, 0.76941473, 0.77923222,
        0.78023914, 0.77520453, 0.77973568, 0.77973568, 0.77721838,
        0.76626809, 0.77356828, 0.77772184, 0.76941473, 0.77029578,
        0.77004405, 0.77935809, 0.7814978 , 0.77772184, 0.77520453]),
 'split2_test_accuracy': array([0.78049087, 0.78489616, 0.78489616, 0.78514789, 0.78489616,
        0.78691001, 0.78061674, 0.78489616, 0.78489616, 0.78162366,
        0.78351164, 0.78489616, 0.78338578, 0.78514789, 0.78640654,
        0.78049087, 0.78451857, 0.78602895, 0.78338578, 0.78061674]),
 'split3_test_accuracy': array([0.77240685, 0.78159617, 0.7760574 , 0.77769386, 0.78159617,
        0.78285498, 0.77643505, 0.78172205, 0.78172205, 0.77744209,
        0.77416918, 0.7760574 , 0.77995972, 0.77769386, 0.77819738,
        0.77240685, 0.78096677, 0.78298087, 0.77995972, 0.77643505]),
 'split4_test_accuracy': array([0.76321752, 0.76976334, 0.76837865, 0.77291037, 0.76976334,
        0.77064451, 0.76309164, 0.77857503, 0.77857503, 0.76372105,
        0.76913394, 0.76837865, 0.77744209, 0.77291037, 0.77416918,
        0.76321752, 0.77819738, 0.77983384, 0.77744209, 0.76309164]),
 'mean_test_accuracy': array([0.76245527, 0.76907618, 0.76608041, 0.77035999, 0.76907618,
        0.77028454, 0.76444404, 0.77592348, 0.77592348, 0.76580343,
        0.76771663, 0.76608041, 0.77436268, 0.77035999, 0.77121592,
        0.76245527, 0.77547034, 0.77708151, 0.77436268, 0.76444404]),
 'std_test_accuracy': array([0.01898923, 0.02022849, 0.02001624, 0.0129833 , 0.02022849,
        0.02046814, 0.01967027, 0.01083163, 0.01083163, 0.01935969,
        0.01256017, 0.02001624, 0.01074225, 0.0129833 , 0.01322843,
        0.01898923, 0.01079217, 0.01119479, 0.01074225, 0.01967027]),
 'rank_test_accuracy': array([19, 11, 14,  8, 11, 10, 17,  2,  2, 16, 13, 14,  5,  8,  7, 19,  4,
         1,  5, 17], dtype=int32),
 'split0_test_macro_f1': array([0.70643758, 0.70897953, 0.70807199, 0.73602022, 0.70897953,
        0.70976342, 0.7052576 , 0.74832197, 0.74832197, 0.70756744,
        0.73481288, 0.70807199, 0.74716883, 0.73602022, 0.73614353,
        0.70643758, 0.74800798, 0.74860489, 0.74716883, 0.7052576 ]),
 'split1_test_macro_f1': array([0.74821909, 0.76059295, 0.75227132, 0.74558127, 0.76059295,
        0.76153663, 0.75566397, 0.76196417, 0.76196417, 0.75757993,
        0.74185159, 0.75227132, 0.75964396, 0.74558127, 0.74644968,
        0.74821909, 0.76129144, 0.76378464, 0.75964396, 0.75566397]),
 'split2_test_macro_f1': array([0.76184717, 0.76712952, 0.76727934, 0.76932376, 0.76712952,
        0.76924408, 0.76188334, 0.76932576, 0.76932576, 0.76279302,
        0.76734918, 0.76727934, 0.76754402, 0.76932376, 0.77060252,
        0.76184717, 0.76867585, 0.77062465, 0.76754402, 0.76188334]),
 'split3_test_macro_f1': array([0.75312016, 0.76459578, 0.75728657, 0.7579583 , 0.76459578,
        0.76590891, 0.75850742, 0.76472978, 0.76472978, 0.75958702,
        0.75425918, 0.75728657, 0.76284964, 0.7579583 , 0.75845929,
        0.75312016, 0.76395186, 0.76604493, 0.76284964, 0.75850742]),
 'split4_test_macro_f1': array([0.7372919 , 0.74703586, 0.74326907, 0.75103875, 0.74703586,
        0.74771515, 0.73898916, 0.76094164, 0.76094164, 0.73938336,
        0.74666225, 0.74326907, 0.75942868, 0.75103875, 0.75235464,
        0.7372919 , 0.76018512, 0.76226117, 0.75942868, 0.73898916]),
 'mean_test_macro_f1': array([0.74138318, 0.74966673, 0.74563566, 0.75198446, 0.74966673,
        0.75083364, 0.7440603 , 0.76105666, 0.76105666, 0.74538215,
        0.74898702, 0.74563566, 0.75932703, 0.75198446, 0.75280193,
        0.74138318, 0.76042245, 0.76226406, 0.75932703, 0.7440603 ]),
 'std_test_macro_f1': array([0.01918955, 0.02149222, 0.02032169, 0.01125247, 0.02149222,
        0.02180482, 0.02093987, 0.00699827, 0.00699827, 0.02058951,
        0.01115517, 0.02032169, 0.00675071, 0.01125247, 0.0115492 ,
        0.01918955, 0.00686303, 0.00739026, 0.00675071, 0.02093987]),
 'rank_test_macro_f1': array([19, 11, 14,  8, 11, 10, 17,  2,  2, 16, 13, 14,  5,  8,  7, 19,  4,
         1,  5, 17], dtype=int32),
 'split0_test_f1_deceased': array([0.67902559, 0.68573167, 0.67917564, 0.68419334, 0.68573167,
        0.68655808, 0.68413083, 0.67228662, 0.67228662, 0.68587022,
        0.68425338, 0.67917564, 0.671101  , 0.68419334, 0.68529412,
        0.67902559, 0.6722748 , 0.67287421, 0.671101  , 0.68413083]),
 'split1_test_f1_deceased': array([0.55679513, 0.58473736, 0.56318055, 0.54601861, 0.58473736,
        0.58595882, 0.57633018, 0.59022833, 0.59022833, 0.57876371,
        0.53957579, 0.56318055, 0.58595285, 0.54601861, 0.54761905,
        0.55679513, 0.58835095, 0.59282908, 0.58595285, 0.57633018]),
 'split2_test_f1_deceased': array([0.58310627, 0.59360278, 0.59431397, 0.60333575, 0.59360278,
        0.59672619, 0.58219688, 0.60389142, 0.60389142, 0.58349901,
        0.59874457, 0.59431397, 0.6       , 0.60333575, 0.60551791,
        0.58310627, 0.60201632, 0.60633701, 0.6       , 0.58219688]),
 'split3_test_f1_deceased': array([0.56979632, 0.5943304 , 0.57674188, 0.57637321, 0.5943304 ,
        0.59608802, 0.58341511, 0.59688413, 0.59688413, 0.58474368,
        0.57007007, 0.57674188, 0.59309674, 0.57637321, 0.57666248,
        0.56979632, 0.595186  , 0.59849038, 0.59309674, 0.58341511]),
 'split4_test_f1_deceased': array([0.52683689, 0.54991065, 0.53778009, 0.55916709, 0.54991065,
        0.55052443, 0.53521127, 0.58834999, 0.58834999, 0.53555841,
        0.55132114, 0.53778009, 0.58487805, 0.55916709, 0.56134112,
        0.52683689, 0.58585366, 0.59015595, 0.58487805, 0.53521127]),
 'mean_test_f1_deceased': array([0.58311204, 0.60166257, 0.59023843, 0.5938176 , 0.60166257,
        0.60317111, 0.59225685, 0.6103281 , 0.6103281 , 0.59368701,
        0.58879299, 0.59023843, 0.60700573, 0.5938176 , 0.59528694,
        0.58311204, 0.60873634, 0.61213733, 0.60700573, 0.59225685]),
 'std_test_f1_deceased': array([0.05145131, 0.04505787, 0.04815101, 0.04908783, 0.04505787,
        0.04497339, 0.04925051, 0.03145812, 0.03145812, 0.04956443,
        0.05174696, 0.04815101, 0.03250723, 0.04908783, 0.0489436 ,
        0.05145131, 0.0322648 , 0.03087018, 0.03250723, 0.04925051]),
 'rank_test_f1_deceased': array([19,  8, 16, 11,  8,  7, 14,  2,  2, 13, 18, 16,  5, 11, 10, 19,  4,
         1,  5, 14], dtype=int32),
 'split0_test_f1_hospitalized': array([0.9128734 , 0.9140625 , 0.91412349, 0.91479185, 0.9140625 ,
        0.91518808, 0.91099662, 0.91528415, 0.91528415, 0.91364606,
        0.9124424 , 0.91412349, 0.91317418, 0.91479185, 0.91507431,
        0.9128734 , 0.91451784, 0.91569665, 0.91317418, 0.91099662]),
 'split1_test_f1_hospitalized': array([0.90793201, 0.91015625, 0.91119005, 0.91115446, 0.91015625,
        0.91112294, 0.90575362, 0.91208208, 0.91208208, 0.90835389,
        0.90848057, 0.91119005, 0.90986214, 0.91115446, 0.91141035,
        0.90793201, 0.91117782, 0.91391197, 0.90986214, 0.90575362]),
 'split2_test_f1_hospitalized': array([0.9186688 , 0.92233357, 0.92302197, 0.92228164, 0.92233357,
        0.92376521, 0.91868759, 0.92283073, 0.92283073, 0.91888037,
        0.91987179, 0.92302197, 0.92083777, 0.92228164, 0.92321397,
        0.9186688 , 0.92163121, 0.92389758, 0.92083777, 0.91868759]),
 'split3_test_f1_hospitalized': array([0.91294285, 0.91556822, 0.91677063, 0.91580817, 0.91556822,
        0.91696365, 0.91028602, 0.91425547, 0.91425547, 0.91167585,
        0.9128734 , 0.91677063, 0.91332745, 0.91580817, 0.91700729,
        0.91294285, 0.9144168 , 0.91579876, 0.91332745, 0.91028602]),
 'split4_test_f1_hospitalized': array([0.90786914, 0.91292782, 0.91365888, 0.91305118, 0.91292782,
        0.91379005, 0.90517394, 0.91200846, 0.91200846, 0.9058865 ,
        0.90912306, 0.91365888, 0.91116974, 0.91305118, 0.91420485,
        0.90786914, 0.91247803, 0.91344967, 0.91116974, 0.90517394]),
 'mean_test_f1_hospitalized': array([0.91205724, 0.91500967, 0.915753  , 0.91541746, 0.91500967,
        0.91616599, 0.91017956, 0.91529218, 0.91529218, 0.91168853,
        0.91255824, 0.915753  , 0.91367426, 0.91541746, 0.91618215,
        0.91205724, 0.91484434, 0.91655093, 0.91367426, 0.91017956]),
 'std_test_f1_hospitalized': array([0.00399302, 0.00406788, 0.00404313, 0.00377977, 0.00406788,
        0.00425249, 0.00485202, 0.00397472, 0.00397472, 0.00447969,
        0.0040504 , 0.00404313, 0.00380765, 0.00377977, 0.00395056,
        0.00399302, 0.00361645, 0.0037908 , 0.00380765, 0.00485202]),
 'rank_test_f1_hospitalized': array([16, 10,  4,  6, 10,  3, 19,  8,  8, 18, 15,  4, 13,  6,  2, 16, 12,
         1, 13, 19], dtype=int32),
 'split0_test_f1_nonhospitalized': array([0.52741375, 0.52714441, 0.53091684, 0.60907547, 0.52714441,
        0.5275441 , 0.52064534, 0.65739514, 0.65739514, 0.52318603,
        0.60774288, 0.53091684, 0.65723131, 0.60907547, 0.60806217,
        0.52741375, 0.65723131, 0.65724382, 0.65723131, 0.52064534]),
 'split1_test_f1_nonhospitalized': array([0.77993014, 0.78688525, 0.78244335, 0.77957073, 0.78688525,
        0.78752813, 0.78490809, 0.78358209, 0.78358209, 0.78562218,
        0.77749843, 0.78244335, 0.78311688, 0.77957073, 0.78031965,
        0.77993014, 0.78434557, 0.78461289, 0.78311688, 0.78490809]),
 'split2_test_f1_nonhospitalized': array([0.78376644, 0.78545223, 0.78450208, 0.7823539 , 0.78545223,
        0.78724083, 0.78476556, 0.78125512, 0.78125512, 0.78599968,
        0.78343118, 0.78450208, 0.78179428, 0.7823539 , 0.78307567,
        0.78376644, 0.78238001, 0.78163934, 0.78179428, 0.78476556]),
 'split3_test_f1_nonhospitalized': array([0.7766213 , 0.78388871, 0.77834721, 0.78169351, 0.78388871,
        0.78467507, 0.78182112, 0.78304974, 0.78304974, 0.78234153,
        0.77983408, 0.77834721, 0.78212473, 0.78169351, 0.78170809,
        0.7766213 , 0.78225278, 0.78384565, 0.78212473, 0.78182112]),
 'split4_test_f1_nonhospitalized': array([0.77716966, 0.77826911, 0.77836824, 0.78089799, 0.77826911,
        0.77883096, 0.77658228, 0.78246647, 0.78246647, 0.77670517,
        0.77954257, 0.77836824, 0.78223824, 0.78089799, 0.78151794,
        0.77716966, 0.78222368, 0.78317788, 0.78223824, 0.77658228]),
 'mean_test_f1_nonhospitalized': array([0.72898026, 0.73232794, 0.73091555, 0.74671832, 0.73232794,
        0.73316382, 0.72974448, 0.75754971, 0.75754971, 0.73077092,
        0.74560983, 0.73091555, 0.75730109, 0.74671832, 0.7469367 ,
        0.72898026, 0.75768667, 0.75810391, 0.75730109, 0.72974448]),
 'std_test_f1_nonhospitalized': array([0.10081504, 0.1026334 , 0.10002763, 0.06882767, 0.1026334 ,
        0.10285735, 0.10459307, 0.05008326, 0.05008326, 0.10384589,
        0.06895994, 0.10002763, 0.0500368 , 0.06882767, 0.06944277,
        0.10081504, 0.05023404, 0.05043955, 0.0500368 , 0.10459307]),
 'rank_test_f1_nonhospitalized': array([19, 12, 14,  8, 12, 11, 17,  3,  3, 16, 10, 14,  5,  8,  7, 19,  2,
         1,  5, 17], dtype=int32)}

In [ ]:
print(knn_randomcv.cv_results_['mean_test_macro_f1'][knn_randomcv.best_index_])
print(knn_randomcv.cv_results_['mean_test_f1_deceased'][knn_randomcv.best_index_])

0.7622640559289393
0.6121373255306095

In [ ]:
print("Macro F1 Score: ", knn_randomcv.cv_results_['mean_test_macro_f1'][knn_randomcv.best_index_])
print("F1 Score Deceased: ", knn_randomcv.cv_results_['mean_test_f1_deceased'][knn_randomcv.best_index_])
print("F1 Score Hospitalized: ", knn_randomcv.cv_results_['mean_test_f1_hospitalized'][knn_randomcv.best_index_])
print("F1 Score Non-Hospitalized: ", knn_randomcv.cv_results_['mean_test_f1_nonhospitalized'][knn_randomcv.best_index_])

Macro F1 Score:  0.7622640559289393
F1 Score Deceased:  0.6121373255306095
F1 Score Hospitalized:  0.916550927306513
F1 Score Non-Hospitalized:  0.7581039149496958

In [ ]:
Knn_mean_test_f1 = knn_randomcv.cv_results_['mean_test_macro_f1']
Knn_mean_test_f1_deceased = knn_randomcv.cv_results_['mean_test_f1_deceased']
Knn_mean_test_accuracy = knn_randomcv.cv_results_['mean_test_accuracy']
Knn_parameters = knn_randomcv.cv_results_['params']
Knn_ht_data = {"Hyperparameters": Knn_parameters, "Mean F1 Score": Knn_mean_test_f1, "Mean F1 Score on 'deceased'": Knn_mean_test_f1_deceased, "Mean Accuracy": Knn_mean_test_accuracy}
Knn_ht_data_df = pd.DataFrame(Knn_ht_data)
Knn_ht_data_df.to_csv(r'model3_tuning.txt',header=Knn_ht_data_df.columns, index=None, sep=',')

In [ ]:
#1.5 Overfitting => Choosing one hyperparameter and changing it's value to see change in test and train accuarcies

In [ ]:
from matplotlib import pyplot
train_scores, test_scores = list(), list()
values = [i for i in range(1, 21)]
for i in values:
    model = RFC(max_depth=i)
    model.fit(X_train, y_train.values.ravel())
    train_yhat = model.predict(X_train)
    train_acc = accuracy_score(y_train, train_yhat)
    train_scores.append(train_acc)
    test_yhat = model.predict(X_val)
    test_acc = accuracy_score(y_val, test_yhat)
    test_scores.append(test_acc)
    print('>%d, train: %.3f, test: %.3f' % (i, train_acc, test_acc))

pyplot.plot(values, train_scores, '-o', label='Train')
pyplot.plot(values, test_scores, '-o', label='Test')
pyplot.legend()
pyplot.show()

In [ ]:
train_scores1, test_scores1 = list(), list()
values = [i for i in range(1, 21)]
for i in values:
    model = KNeighborsClassifier(n_neighbors=i)
    model.fit(X_train, y_train.values.ravel())
    train_yhat = model.predict(X_train)
    train_acc = accuracy_score(y_train, train_yhat)
    train_scores1.append(train_acc)
    test_yhat = model.predict(X_val)
    test_acc = accuracy_score(y_val, test_yhat)
    test_scores1.append(test_acc)
    print('>%d, train: %.3f, test: %.3f' % (i, train_acc, test_acc))

pyplot.plot(values, train_scores1, '-o', label='Train')
pyplot.plot(values, test_scores1, '-o', label='Test')
pyplot.legend()
pyplot.show()

In [ ]:
train_scores2, test_scores2 = list(), list()
values = [i for i in range(1, 21)]
for i in values:
    model = XGBClassifier(max_depth=i)
    model.fit(X_train, y_train.values.ravel())
    train_yhat = model.predict(X_train)
    train_acc = accuracy_score(y_train, train_yhat)
    train_scores2.append(train_acc)
    test_yhat = model.predict(X_val)
    test_acc = accuracy_score(y_val, test_yhat)
    test_scores2.append(test_acc)
    print('>%d, train: %.3f, test: %.3f' % (i, train_acc, test_acc))

pyplot.plot(values, train_scores2, '-o', label='Train')
pyplot.plot(values, test_scores2, '-o', label='Test')
pyplot.legend()
pyplot.show()

In [ ]:
final_model = RFC(n_estimators=200,max_features='sqrt',max_depth=1000,min_samples_split=2,min_samples_leaf=2)
final_model.fit(X_bal,y_bal.values.ravel())
y_preds = final_model.predict(test_cases_data)
print(y_preds)
print(y_preds.shape)

[0 0 0 ... 0 1 1]
(4304,)

In [ ]:
# Getting the csv file with our prediction values predicted by best performing classification model 

def create_submission_file(y_preds, file_name): 
  with open(file_name, 'w') as csvfile:
    wr = csv.writer(csvfile, quoting=csv.QUOTE_ALL)
    wr.writerow(["Id", "Prediction"])
    for i, pred in enumerate(y_preds): 
      wr.writerow([str(i), str(pred)])
      
create_submission_file(y_preds, "submission_RandomForestClassifier.csv")